<div class="uk-section">

  
    <div class="uk-container">
  <ul uk-tab class="uk-margin-top">
    <li><a href="#">Virtual Assistants</a></li>
  </ul>
  
  <ul class="uk-switcher uk-margin">
    <li>
      <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        
        
          <div [routerLink]="['/create', project_id]" id="va-card" class="uk-card-light uk-card-body uk-border-rounded uk-box-shadow-medium uk-box-shadow-hover-large">
            <div class="uk-margin">
              <p class="uk-text-muted"><span uk-icon="icon: plus-circle; ratio: 2"></span></p>    
              <legend class="uk-legend"> Create VA</legend>
              <!-- <div class="uk-flex uk-flex-center">
                
              </div> -->
              </div>
          </div>
        
  
        <div *ngFor="let va of vas; let i = index" id="va-card">
  
          <!-- <div [routerLink]="['/edit', va.id]"> -->
        
          <div class="uk-card-light uk-card-body uk-border-rounded uk-box-shadow-medium uk-box-shadow-hover-large">
            <!-- <p class="uk-text-muted"><span uk-icon="icon: nut; ratio: 2"></span></p> -->
            <a class="uk-align-right" type="button"><span uk-icon="more-vertical"></span></a>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li><a (click)="send_tag_and_id_to_chatbox_service(va.va_tag, va.id)" href="#" uk-toggle="target: #modal-example" ><span uk-icon="microphone"></span> Quick Test</a></li>
            <li><a [routerLink]="['/va', va.id]"><span uk-icon="pencil"></span> View</a></li>
            <li class="uk-nav-divider"></li>
            <li><a (click)="delete_va(i, va.id, va.va_tag)"><span uk-icon="trash"></span> Delete</a></li>
        </ul>
    </div>
            <p><span class="uk-badge">{{ va.va_tag }}</span></p>
            <p class="uk-card-title">{{ va.va_name }}</p>
            <p>{{ va.va_desc }}</p>
            <div class="uk-button-group">
            </div>
          </div>
        
          <!-- </div> -->
      </div>
      </div>
    </li>
    <li>
       Marketplace is not active on this version
    </li>
  </ul>
  
  </div>
  </div>
