<div class="uk-section uk-section-muted">
    <div *ngIf="project" class="uk-container">
  
        <h1>{{ project.project_name }}</h1>
        <p>Tag: {{ project.project_tag }}</p>
        <p>{{ project.project_desc }}</p>
    </div>
  
  </div>
<!-- <div class="uk-container"> -->
    <!-- <div class="uk-card uk-card-body uk-margin-top"> -->

    <!-- <div class="uk-margin">
        <select class="uk-select" (change)="get_project_from_drop_down($event)">
            <option value="" selected disabled>Choose a project to edit</option>
            <option *ngFor="let project of projects" value="{{ project.id }}">{{ project.project_name }}</option>
        </select>
    </div> -->

    <!-- <hr>
    <div class="uk-margin">
        <p class="uk-text-muted"><span uk-icon="icon: pencil; ratio: 2"></span></p>    
        <legend class="uk-legend">Edit your Project</legend> 
        <div class="uk-flex uk-flex-center">
            
        </div>
        </div>   -->

        <!-- <div *ngIf="project">
    <form [formGroup]="edit_project_form" (ngSubmit)="edit_project_form_submit()">
      <fieldset class="uk-fieldset">
            
                <div class="uk-margin">
                    <input class="uk-input" formControlName="project_id" type="text" readonly hidden>
                </div>

                <div class="uk-margin">
                    <div class="uk-text-small uk-margin-bottom">Update the project name</div>
                    <input class="uk-input" formControlName="project_name" type="text" required>
                </div>

                <div class="uk-margin">
                    <div class="uk-text-small uk-margin-bottom">Update project tag</div>
                    <select formControlName="project_tag" class="uk-select" required>
                        <option value="project_tag" selected disabled>{{ project.project_tag }}</option>
                        <option value="IDB">IDB</option>
                        <option value="MOH">MOH</option>
                    </select>
                  </div>

                <div class="uk-margin">
                    <div class="uk-text-small uk-margin-bottom">Update project description</div>
                    <textarea class="uk-textarea" formControlName="project_desc" rows="5" required></textarea>
                </div>

            </fieldset> 

            <div class="uk-margin">
                <button class="uk-button uk-button-secondary uk-button-small uk-margin-small-bottom">Update and Save Project</button>
            </div>
        </form>
        </div> -->
    <!-- </div> -->

<!-- </div> -->

