#current-path {
    text-transform: capitalize;
}

#left-nav {
    /* position: absolute; */
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: auto;
    padding: 20px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}
