#va-resp-card {
    background-color: #ffff;
    border: 1px solid #EAEAEA;
}

#response-template {
    background-color: #0d0d0d;
    color: whitesmoke;
}

#va-resp-card_response-card {
    background-color: #0d0d0d;
    color: whitesmoke;
}