<!-- </form>

      <section class="uk-textarea uk-padding" style="max-height: 20em; overflow-y: scroll;">

        <ng-container *ngIf="res_and_que">
          <div *ngFor="let rq of res_and_que; let i = index" class="uk-text-right">
            <ng-container *ngIf="i % 2 == 0; else right">
              <div class="uk-text-right uk-card-primary uk-margin-small uk-padding-small uk-border-rounded" [innerHTML]="rq"></div>
            </ng-container>
            <ng-template #right>
              <div class="uk-text-left uk-card-primary uk-margin-small uk-padding-small uk-border-rounded" [innerHTML]="rq"></div>
              <hr>
            </ng-template>

          </div>

        </ng-container>


      </section>

    <div *ngIf="full_response" class="uk-margin">
       <p>Full Response: </p>
        <textarea class="uk-textarea" rows="10" readonly>{{ full_response|json }}</textarea>
    </div>
    <p class="uk-text-right">
      <span uk-icon="icon: microphone; ratio: 1" class="uk-margin-right"></span>
      <button class="uk-button uk-button-danger uk-modal-close uk-button-small" type="button" (click)="close_conversation()">Close Conversation</button>
    </p>

  </div>
</div>  -->
